.admin-body {
    background: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 350px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.08);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #2c3e50;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background: #3498db;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.login-box button:hover {
    background: #2980b9;
}

.error {
    color: red;
    margin-top: 10px;
}
.dashboard-box {
    width: 400px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.08);
    text-align: center;
}

.dashboard-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.db-btn {
    background: #3498db;
    color: white;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 17px;
}

.db-btn:hover {
    background: #2980b9;
}

.logout-btn {
    background: #e74c3c;
    color: white;
    padding: 12px;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
}

.logout-btn:hover {
    background: #c0392b;
}
.crud-box {
    width: 700px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.08);
}

.crud-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.crud-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.crud-table th, .crud-table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.crud-table th {
    background: #f1f1f1;
}

.action-btn {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}

.edit-btn { background: #f39c12; }
.delete-btn { background: #e74c3c; }

.back-btn {
    display: inline-block;
    margin-top: 20px;
    color: white;
    background: #3498db;
    padding: 10px 12px;
    border-radius: 8px;
    text-decoration: none;
}
.question-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.question-form textarea, 
.question-form input, 
.question-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.question-form button {
    background: #27ae60;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.question-form button:hover {
    background: #1e8449;
}

.q-edit {
    background: #f39c12;
}

.q-delete {
    background: #e74c3c;
}
.sample-box {
    background: #f4f4f4;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 20px;
}
